<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo3-Bata1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <div id="app">
        <div class="topbar">
            <div class="menu" v-if="isMobile">
                <div v-html="webLogo"></div>
                <div class="menu-btn" @click="menuBtnClick">{{ menuBtn }}</div>
                <div class="menu-list" v-if="menuBtn == '×'">
                    <div v-for="(menuItem, index) in menuList" :key="index">
                        <a :href="menuItem.url">{{ menuItem.name }}</a>
                    </div>
                </div>
            </div>
            <div class="menu" v-else>
                <div v-html="webLogo"></div>
                <nav class="menu-list">
                    <li v-for="(menuItem, index) in menuList.slice(0, 4)" :key="index">
                        <a :href="menuItem.url">{{ menuItem.name}}</a>
                    </li>
                </nav>
                <div class="lr-btn">
                    <button v-for="(menuItem, index) in menuList.slice(4)" :key="index" @click="lrAlertTo">
                        <span>{{ menuItem.name }}</span>
                    </button>
                </div>
            </div>
            <div class="banner">
                <h1>{{ bannerTitle }}</h1>
                <p>{{ bannerParagraph }}</p>
            </div>
            <div class="download-area">
                <div class="download-btn" v-for="(osItem, index) in downloadList" :key="index">
                    <a :href="osItem.url">
                        <div v-html="osItem.logo"></div><span class="download-txt">{{ osItem.name }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content">
            <h1>{{ contentList }}</h1>
        </div>

        <div class="footer">
            <div class="footer-left" v-html="footerList.webLogo"></div>
            <div class="footer-right">
                <div class="footer-right-top">
                    <div class="footer-link">
                        <div v-for="(footerLinkItem, index) in footerList.footerLink" :key="index">
                            <a :href="footerLinkItem.url">{{ footerLinkItem.name }}</a>
                            <span v-if="index < footerList.footerLink.length - 1">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        </div>
                    </div>
                    <div class="email">{{ footerList.email }}</div>
                    <div class="copyright">{{ footerList.copyright_zh }}</div>
                    <div class="copyright">{{ footerList.copyright_EN }}</div>
                </div>
                <hr />
                <div class="media-list">
                    <div v-for="(mediaItem, index) in footerList.MediaList" :key="index">
                        <a :href="mediaItem.url">{{ mediaItem.media }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const RootComp = {
            data() {
                return {
                    webLogo: '<img src="image/logo3.png" alt="logo3">',
                    menuBtn: '☰',
                    menuList: [
                        {
                            name: '首页',
                            url: 'javascript:alert("首页")'
                        },
                        {
                            name: '产品介绍',
                            url: 'javascript:alert("产品介绍")'
                        },
                        {
                            name: '下载中心',
                            url: 'javascript:alert("下载中心")'
                        },
                        {
                            name: '测试',
                            url: 'javascript:alert("测试")'
                        },
                        {
                            name: '登录',
                            url: 'https://rhinvacation.github.io/LoginDemo/'
                        },
                        {
                            name: '注册',
                            url: 'javascript:alert("注册")'
                        }
                    ],

                    bannerTitle: 'Logo3-Bata1',
                    bannerParagraph: 'Hello,Logo3-Bata1!',
                    downloadList: [
                        {
                            name: 'iOS',
                            url: 'javascript:alert(\'iOS\')',
                            logo: '<img class="osLOGO" src="image/logo/apple.png" alt="iOS">'
                        },
                        {
                            name: 'Android',
                            url: 'javascript:alert(\'Android\')',
                            logo: '<img class="osLOGO" src="image/logo/android.png" alt="Android">'
                        },
                        {
                            name: 'HarmonyOS',
                            url: 'javascript:alert(\'Harmony\')',
                            logo: '<img class="osLOGO" src="image/logo/huawei.png" alt="HarmonyOS">'
                        },
                        {
                            name: 'Windows',
                            url: 'javascript:alert(\'Windows\')',
                            logo: '<img class="osLOGO" src="image/logo/windows.png" alt="Windows">'
                        },
                        {
                            name: 'Linux',
                            url: 'javascript:alert(\'Linux\')',
                            logo: '<img class="osLOGO" src="image/logo/linux.png" alt="Linux">'
                        },
                        {
                            name: 'MacOS',
                            url: 'javascript:alert(\'MacOS\')',
                            logo: '<img class="osLOGO" src="image/logo/apple.png" alt="MacOS">'
                        }
                    ],

                    contentList: 'Content',

                    footerList: {
                        webLogo: '<img src="image/logo3-1.png" alt="Logo3">',
                        copyright_zh: '版权所有©2024 Logo3 备案号',
                        copyright_EN: 'Copyright © 2024 Logo3. All Rights Reserved',
                        email: '邮箱：Logo@gmail.com',
                        footerLink: [
                            {
                                name: '关于我们',
                                url: 'javascript:alert("关于我们")'
                            },
                            {
                                name: '友情链接',
                                url: 'javascript:alert("友情链接")'
                            },
                            {
                                name: 'Github',
                                url: 'https://github.com/RHinvacation?tab=repositories'
                            },
                            {
                                name: '加入我们',
                                url: 'javascript:alert("加入我们")'
                            }
                        ],
                        MediaList: [
                            {
                                media: '公众号',
                                url: 'javascript:alert("公众号")'
                            },
                            {
                                media: '小程序',
                                url: 'javascript:alert("小程序")'
                            },
                            {
                                media: '微博',
                                url: 'javascript:alert("微博")'
                            },
                            {
                                media: 'Bilibili',
                                url: 'javascript:alert("Bilibili")'
                            },
                            {
                                media: '知乎',
                                url: 'javascript:alert("知乎")'
                            },
                            {
                                media: '抖音',
                                url: 'javascript:alert("抖音")'
                            }
                        ]
                    }
                }
            },
            computed: {
                isMobile() {
                    // 判断是否为手机屏幕，可根据具体需求调整条件
                    return window.innerWidth < 768
                }
            },
            methods: {
                menuBtnClick() {
                    if (this.menuBtn === '☰') {
                        this.menuBtn = '×'
                    } else {
                        this.menuBtn = '☰'
                    }
                },
                lrAlertTo(event) {
                    // 获取按钮上的文字，即按钮的名称
                    const buttonName = event.target.innerText

                    // 弹出提示框，是否跳转到按钮对应的页面
                    if (confirm(`是否跳转到"${buttonName}"页面?`)) {
                        // 弹出提示框，正在跳转
                        alert(`正在跳转"${buttonName}"页面...`)

                        // 根据按钮名称执行相应的跳转逻辑
                        switch (buttonName) {
                            case '登录':
                                // 跳转到登录页面的URL
                                window.location.href = 'https://rhinvacation.github.io/LoginDemo/'
                                break;
                            case '注册':
                                // 跳转到注册页面的URL
                                window.location.href = 'register.html'
                                break
                            default:
                                break
                        }
                    }
                }
            }
        }
        const vueApp = Vue.createApp(RootComp)
        vueApp.mount('#app')
    </script>
</body>

</html>